<!DOCTYPE html>
<html>
  <head>
    <title>DungeonMaker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- Load the Paper.js library -->
    <script type="text/javascript" src="js/paper.js"></script>
    <!-- Define inlined PaperScript associate it with myCanvas -->
    <script type="text/paperscript" canvas="myCanvas">
    </script>
  </head>
  <body>
  	<canvas id="myCanvas" resize>
      </canvas>
  </body>
</html>
